.container {
    background-color: yellow;
    height: 700px;
    width: 504px;
    border: 1px solid black;
    display: grid ;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px ;
   grid-gap: 4px;
grid-template-areas:
   "hd hd"
   "side main"
   "ft ft";
}
.box {
    background-color: aqua;
   border: 1px solid green;
   text-align: center;
  
}
#header {
    grid-area: hd;
}
#footer {
    grid-area: ft;
}
#sidebar {
    grid-area: side;
}
#content {
    grid-area: main; 
}
